<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Подключение статистических файлов -->
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap css-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"
          type="text/css">
    <!-- Подключение своих CSS-->
    <link type="text/css" href="{% static 'css/mine.css' %}"
          rel="stylesheet">
    <link type="text/css" href="{% static 'spec_kamery/css/mycss.css' %}"
          rel="stylesheet">
    <!-- Datatables -->
    <!--<link rel="stylesheet" href="{% static 'css/datatables.min.css' %}" type="text/css">-->
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript"
            src="{% static 'js/datatables.min.js' %}"></script>
    <link rel="shortcut icon" type="image/png" href="{% static "ferma_01.ico" %}">
    <!--<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>-->
    <!--Мои JS-->
    <script type="text/javascript" src="{% static 'js/mine.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>

    <title> {% block title %} {% endblock %} </title>
</head>
<body>

<div class="jumbotron">
    <div class="container">
        <a href="{% url 'index' %}">Главная страница</a>
        <div>
            {% block content %}
            <!-- CODE -->
            {% endblock %}
        </div>
    </div>
</div>
<div class="container">
    <hr>
    &copy; Все права защищены 2018
    <br>
    <br>
</div>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Включают все скомпилированные плагины (ниже), или включать отдельные файлы по мере необходимости -->
<!-- Bootstrap js-->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>