{% extends "base_01.html" %}

{% block title %}
Спецификация камеры
{% endblock %}

{% block content %}


<div class="row">
    <div class="col-md-8">
        <caption> Размеры колодца.</caption>
        <table border="1">
            <tr>
                <td> Длина (мм)</td>
                <td><input id="dlina" type="text" size="5" value="4000"></td>
            <tr>
                <td> Ширина (мм)</td>
                <td><input id="shirina" type="text" size="5" value="4000"></td>
            <tr>
                <td> Высота (мм)</td>
                <td><input id="vysota" type="text" size="5" value="4000"></td>
            <tr>
                <td> Толщина стенки (мм)</td>
                <td><input id="tolshina_stenki" type="text" size="5" value="300"></td>
            <tr>
                <td> Арматура А500С</td>
                <td>

                    <select type="text" id="armatura_1">
                        <option value="12">&#8960; 12</option>
                        <option value="14">&#8960; 14</option>
                        <option value="16">&#8960; 16</option>
                    </select>
                </td>
            <tr>
                <td> Гильза-1 (мм)</td>
                <td><input id="gilza_1" type="text" size="5" value="530"></td>
            <tr>
                <td> Гильза-2 (мм)</td>
                <td><input id="gilza_2" type="text" size="5" value="0"></td>
        </table>
        <br>
        <input type="button" value="Посчитать спецификацию" onclick="addition();"> <!-- Кнопка -->
        <br>
        <br>

        <caption> Спецификация колодца.</caption>
        <table border="1">

            <tr class="poz">
                <th> Поз.</th>
                <th> Обозначение.</th>
                <th> Наименование.</th>
                <th> Кол.</th>
                <th> Масса <br> ед, кг</th>
                <th> Приме- <br> чание</th>
            </tr>

            <tr class="poz">
                <td></td>
                <td></td>
                <td> К-1</td>
                <td class="poz"> 1</td>
                <td>
                    <output id="massa_vsego_arm"></output>
                </td>
                <td></td>
            <tr class="poz">
                <td> 1</td>
                <td></td>
                <td class="nam"> Пруток &#8960;
                    <output class="armatura"></output>
                    А500С ГОСТ Р 52544-2006 L=
                    <output id="dlina_poz_1"></output>
                </td>
                <td>
                    <output id="kol_poz_1"></output>
                </td>
                <td>
                    <output id="massa_ed_poz_1"></output>
                </td>
                <td>
                    <output id="massa_poz_1"></output>
                </td>
            <tr class="poz">
                <td>2</td>
                <td></td>
                <td class="nam"> Пруток &#8960;
                    <output class="armatura"></output>
                    А500С ГОСТ Р 52544-2006 L=
                    <output id="dlina_poz_2"></output>
                </td>
                <td>
                    <output id="kol_poz_2"></output>
                </td>
                <td>
                    <output id="massa_ed_poz_2"></output>
                </td>
                <td>
                    <output id="massa_poz_2"></output>
                </td>
            <tr class="poz">
                <td> 3</td>
                <td></td>
                <td class="nam"> Пруток &#8960;
                    <output class="armatura"></output>
                    А500С ГОСТ Р 52544-2006 L=
                    <output id="dlina_poz_3"></output>
                </td>
                <td>
                    <output id="kol_poz_3"></output>
                </td>
                <td>
                    <output id="massa_ed_poz_3"></output>
                </td>
                <td>
                    <output id="massa_poz_3"></output>
                </td>
            <tr class="poz">
                <td> 4</td>
                <td></td>
                <td class="nam"> Пруток &#8960;
                    <output class="armatura"></output>
                    А500С ГОСТ Р 52544-2006 L=
                    <output id="dlina_poz_4"></output>
                </td>
                <td>
                    <output id="kol_poz_4"></output>
                </td>
                <td>
                    <output id="massa_ed_poz_4"></output>
                </td>
                <td>
                    <output id="massa_poz_4"></output>
                </td>
            <tr class="poz">
                <td> 5</td>
                <td></td>
                <td class="nam"> Пруток &#8960;
                    <output class="armatura"></output>
                    А500С ГОСТ Р 52544-2006 L=
                    <output id="dlina_poz_5"></output>
                </td>
                <td>
                    <output id="kol_poz_5"></output>
                </td>
                <td>
                    <output id="massa_ed_poz_5"></output>
                </td>
                <td>
                    <output id="massa_poz_5"></output>
                </td>
            <tr class="poz">
                <td>6</td>
                <td></td>
                <td class="nam"> Пруток &#8960;
                    <output class="armatura"></output>
                    А500С ГОСТ Р 52544-2006 L=
                    <output id="dlina_poz_6"></output>
                </td>
                <td>
                    <output id="kol_poz_6"></output>
                </td>
                <td>
                    <output id="massa_ed_poz_6"></output>
                </td>
                <td>
                    <output id="massa_poz_6"></output>
                </td>

            <tr class="poz">
                <td>8</td>
                <td></td>
                <td class="nam"> Пруток &#8960;
                    <output class="armatura"></output>
                    А500С ГОСТ Р 52544-2006 L=
                    <output id="dlina_poz_8"></output>
                </td>
                <td>
                    <output id="kol_poz_8"></output>
                </td>
                <td>
                    <output id="massa_ed_poz_8"></output>
                </td>
                <td>
                    <output id="massa_poz_8"></output>
                </td>
            <tr class="poz">
                <td> 9</td>
                <td></td>
                <td class="nam"> Пруток &#8960;
                    <output class="armatura"></output>
                    А500С ГОСТ Р 52544-2006 L=
                    <output id="dlina_poz_9"></output>
                </td>
                <td>
                    <output id="kol_poz_9"></output>
                </td>
                <td>
                    <output id="massa_ed_poz_9"></output>
                </td>
                <td>
                    <output id="massa_poz_9"></output>
                </td>
            <tr class="poz">
                <td> 10</td>
                <td class="nam"></td>
                <td class="nam"> Пруток &#8960; 8 А240 ГОСТ 5781-82 L=
                    <output id="dlina_poz_10"></output>
                </td>
                <td>
                    <output id="kol_poz_10"></output>
                </td>
                <td>
                    <output id="massa_ed_poz_10"></output>
                </td>
                <td>
                    <output id="massa_poz_10"></output>
                </td>
            <tr class="poz">
                <td> 11</td>
                <td class="nam"></td>
                <td class="nam"> Пруток &#8960; 8 А240 ГОСТ 5781-82 L=
                    <output id="dlina_poz_11"></output>
                </td>
                <td>
                    <output id="kol_poz_11"></output>
                </td>
                <td>
                    <output id="massa_ed_poz_11"></output>
                </td>
                <td>
                    <output id="massa_poz_11"></output>
                </td>
            <tr class="poz">
                <td> 12</td>
                <td class="nam"> ГОСТ 26633-2015</td>
                <td class="nam"> Бетон В25, F150, W4. (м3)</td>
                <td></td>
                <td></td>
                <td class="poz">
                    <output id="obem_betona_B25"></output>
                </td>
            <tr class="poz">
                <td> 13</td>
                <td class="nam"> ГОСТ 26633-2015</td>
                <td class="nam"> Бетон В7.5. (м3)</td>
                <td></td>
                <td></td>
                <td class="poz">
                    <output id="obem_betona_B7_5"></output>
                </td>

        </table>
    </div>

    <div class="col-md-4">
        <p>Построение камеры (пока только)</p>
        <canvas id="line" width="300" height="300"></canvas>

    </div>
</div>


<br>


<br>
<caption> Спецификация гидроизоляции колодца К-1.</caption>
<table border="1">
    <tr class="poz">
        <th> Поз.</th>
        <th> Обозначение.</th>
        <th> Наименование.</th>
        <th> Кол.</th>
        <th> Масса <br> ед, кг</th>
        <th> Приме- <br> чание</th>
    </tr>
    <!-- Устройство внутренней гидроизоляции. (МОСГАЗовская) -->
    <tr class="poz">
        <td></td>
        <td></td>
        <td width="490"><u> <b> Устройство внутренней гидроизоляции. (м2)</b></u></td>
        <td class="poz"></td>
        <td class="poz"></td>
        <td>
            <output id=" ploschad_kam_vnut "></output>
        </td>
    <tr class="poz">
        <td> 1.</td>
        <td></td>
        <td class="nam"> Устройство галтели в ж/б плит и стен "Максрайт 500"</td>
        <td>
            <output id=" galtel "></output>
        </td>
        <td> 2.5 кг/м</td>
        <td>
            <output id=" galtel_1 "></output>
        </td>
    <tr class="poz">
        <td> 2.</td>
        <td></td>
        <td class="nam"> Полимерное покрытие "Пнайкон" в 2-а слоя толщиной 2,5 мм</td>
        <td>
            <output id=" pnajkon "></output>
        </td>
        <td> 6 кг/м2</td>
        <td>
            <output id=" pnajkon_1 "></output>
        </td>

        <!-- Устройство гидроизоляции ввода. -->
    <tr class="poz">
        <td></td>
        <td></td>
        <td><u> <b> Устройство гидроизоляции ввода. </b></u></td>
        <td class="poz"></td>
        <td class="poz"></td>
        <td></td>
    <tr class="poz">
        <td> 3.</td>
        <td></td>
        <td class="nam"> Расшивка штрабы вокруг гильз. (м.п.)</td>
        <td></td>
        <td></td>
        <td>
            <output id=" dlina_shtroby "></output>
        </td>
    <tr class="poz">
        <td> 4.</td>
        <td></td>
        <td class="nam"> Заполнение штрабы материалом "Максрайт 500"</td>
        <td>
            <output id=" zap_shtrob "></output>
        </td>
        <td> 2 кг/м</td>
        <td>
            <output id=" zap_shtrob_1 "></output>
        </td>
    <tr class="poz">
        <td> 5.</td>
        <td></td>
        <td class="nam"> Устройство набухающего профиля "GX2004"</td>
        <td>
            <output id=" nabuh_prof "></output>
        </td>
        <td> 1.2 кг/м</td>
        <td>
            <output id=" nabuh_prof_1 "></output>
        </td>
    <tr class="poz">
        <td> 6.</td>
        <td></td>
        <td class="nam"> Заделка концов гильз. "Герметик Полидек ПУ 174"</td>
        <td>
            <output id=" polidek "></output>
        </td>
        <td> 500 мл/1м</td>
        <td>
            <output id=" polidek_1 "></output>
        </td>

        <!-- Устройство внешней гидроизоляции. (МОСГАЗовская) -->
    <tr class="poz">
        <td></td>
        <td></td>
        <td><u><b> Устройство внешней гидроизоляции (м2) (МОСГАЗовская) </b></u></td>
        <td class="poz"></td>
        <td class="poz"></td>
        <td>
            <output id=" ploschad_kam_0 "></output>
        </td>
    <tr class="poz">
        <td> 7.</td>
        <td></td>
        <td class="nam"> Полиэтиленовая пленка (м2)</td>
        <td></td>
        <td></td>
        <td>
            <output id=" plenka "></output>
        </td>
    <tr class="poz">
        <td> 8.</td>
        <td></td>
        <td class="nam"> Геотекстиль 300 г/м2 (м2)</td>
        <td></td>
        <td></td>
        <td>
            <output id=" geo_tekstil "></output>
        </td>
    <tr class="poz">
        <td> 9.</td>
        <td></td>
        <td class="nam"> Полимочевина "Эластокоат С 6335/101" толщиной 3 мм</td>
        <td>
            <output id=" pili_moch "></output>
        </td>
        <td> 3.5 кг/м2</td>
        <td>
            <output id=" pili_moch_1 "></output>
        </td>
    <tr class="poz">
        <td>10.</td>
        <td></td>
        <td class="nam"> Устройство набухающего профиля "GX2004" (м.п.)</td>
        <td></td>
        <td></td>
        <td><output id=" prof_01 "></output></td>
    <tr class="poz">
        <td>11.</td>
        <td></td>
        <td class="nam"> Бентонитовый шнур "GX1925" (м.п.)</td>
        <td></td>
        <td></td>
        <td>
            <output id=" shnur "></output>
        </td>
    <tr class="poz">
        <td>12.</td>
        <td></td>
        <td class="nam"> Герметик " Полидек ПУ 174"</td>
        <td>
            <output id=" germ_sit "></output>
        </td>
        <td> 500 мл/м</td>
        <td>
            <output id=" germ_sit_1 "></output>
        </td>
    <tr class="poz">
        <td> 13.</td>
        <td></td>
        <td class="nam"> Пенополиуретан "Эластоспрей 1612/34" толщиной 30 мм</td>
        <td>
            <output id=" peno_pol "></output>
        </td>
        <td> 2.5 кг/м2</td>
        <td>
            <output id=" peno_pol_1 "></output>
        </td>
    <tr class="poz">
        <td> 14.</td>
        <td></td>
        <td class="nam"> Песок(м3)</td>
        <td></td>
        <td></td>
        <td>
            <output id=" pesoc_sit "></output>
        </td>
    <tr class="poz">
        <td> 15.</td>
        <td></td>
        <td class="nam"> Цементно песчаный раствор М150 (м3)</td>
        <td></td>
        <td></td>
        <td> 1.3</td>

</table>

<br>
<caption> Спецификация гидроизоляции колодца К-1.</caption>
<table border="1">

    <tr class="poz">
        <th> Поз.</th>
        <th> Обозначение.</th>
        <th> Наименование.</th>
        <th> Кол.</th>
        <th> Масса <br> ед, кг</th>
        <th> Приме- <br> чание</th>
    </tr>

    <!-- Устройство внешней гидроизоляции. [для МГЭ] -->
    <tr class="poz">
        <td>1</td>
        <td></td>
        <td width="490"><u> <b> Устройство внешней гидроизоляции. (м2) [для МГЭ]</b></u></td>
        <td class="poz"></td>
        <td class="poz"></td>
        <td>
            <output id="ploschad_kam"></output>
        </td>
    <tr class="poz">
        <td>2</td>
        <td></td>
        <td class="nam"> Полиэтиленовая пленка (м2)</td>
        <td></td>
        <td></td>
        <td>
            <output id="plenka_MEG"></output>
        </td>

    <tr class="poz">
        <td>3</td>
        <td></td>
        <td class="nam"> Праймер битумный "Технониколь № 01"</td>
        <td>
            <output id="ploschad_bitum"></output>
        </td>
        <td> 0.3л/м2</td>
        <td>
            <output id="bitum"></output>
        </td>
    <tr class="poz">
        <td>4</td>
        <td></td>
        <td class="nam">Рулонная гидроизоляция "Техноэласт ЭПП"</td>
        <td>
            <output id="ploschad_rul_gid"></output>
        </td>
        <td> 1.2м2/м2</td>
        <td>
            <output id="ploschad_rul_gid_1"></output>
        </td>
    <tr class="poz">
        <td>5</td>
        <td></td>
        <td class="nam"> Геомембрана "Дрениз"</td>
        <td>
            <output id="ploschad_rul_shpona"></output>
        </td>
        <td> 1.2м2/м2</td>
        <td>
            <output id="ploschad_rul_shpona_1"></output>
        </td>
    <tr class="poz">
        <td>6</td>
        <td></td>
        <td class="nam"> Устройство набухающего профиля "GX2004" (м.п.)</td>
        <td></td>
        <td></td>
        <td>
            <output id="prof"></output>
        </td>
    <tr class="poz">
        <td>7</td>
        <td></td>
        <td class="nam"> Герметик "Полидек ПУ 174"</td>
        <td>
            <output id="germ"></output>
        </td>
        <td> 500 мл/м</td>
        <td>
            <output id="germ_1"></output>
        </td>
    <tr class="poz">
        <td>8</td>
        <td></td>
        <td class="nam"> Бентонитовый шнур "GX1925" (м.п.)</td>
        <td></td>
        <td></td>
        <td>
            <output id="bent_shnur"></output>
        </td>
    <tr class="poz">
        <td>9</td>
        <td></td>
        <td class="nam"> Песок (м3)</td>
        <td></td>
        <td></td>
        <td>
            <output id="obem_peska"></output>
        </td>
    <tr class="poz">
        <td>10</td>
        <td></td>
        <td class="nam"> Цементно песчаный раствор М150 (м3)</td>
        <td></td>
        <td></td>
        <td> 1.3</td>

</table>

{% endblock %}

